html {
  background: #212121;
}

body {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
  background: #444;
}

::-webkit-scrollbar-thumb {
  background: #777;
}

#page_wrapper {
  box-shadow: 0 0 6px #303030;
  background-color: rgba(49, 49, 49, 0.85);
  max-width: none;
  z-index: 1;
  position: relative;
}

.header .form-search, .header .form-search input.input-text {
  background: #212121;
}

.border-color1 {
  border-color: #212121;
}

.header .form-search button.button {
  background-color: #313131;
  border: 1px solid #212121;
  line-height: 1;
}

.sidebar .block, #home_mobile_cats {
  background-color: #313131;
  border: 1px solid rgb(33, 33, 33);
  box-shadow: 0 0 3px 0 #212121;
}

.products-grid .product-block-inner {
  background: #313131;
}

.products-grid li .product-block, .product-carousel .slider-item .product-block {
  border: 1px solid rgb(33, 33, 33);
  box-shadow: 0 0 4px rgb(33, 33, 33);
}

.bg-white {
  background: #313131;
}

.bg-white, .bg-white table {
  background-color: #313131;
  color: grey;
}

.data-table tr {
  border-bottom: 1px solid #212121;
}

tbody tr td:first-child {
  background: #fff;
}

.data-table {
  width: 100%;
  border: 1px solid #212121;
}

.data-table thead th {
  background: #313131;
}

.data-table tfoot {
  border-bottom: 1px solid #212121;
}

.data-table tfoot tr {
  background-color: #313131 !important;
}

.black-button {
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #212121;
  box-shadow: inset 0px 1px 0px 0px #212121;
  background: #212121;
  background-color: #212121;
  border: 1px solid #212121;
  float: right;
  text-shadow: none;
}

.num_width.updateQuantity {
  background: #212121;
  color: grey;
  border: none;
}

.category-icons-2, .category-products, #category_grid {
  background: rgba(33, 33, 33, 0.6);
  border-radius: 4px;
  padding: 30px 0;
  margin-bottom: 30px;
}

.category-icons-2 img {
  box-shadow: 0 0 6px white;
}

input.input-text, select, textarea {
  background: #212121;
  border: 1px solid #212121;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
}

.or span {
  background-color: #212121;
}

.navbar-default {
  background: #313131;
  border: 1px solid #212121;
}

.navbar-default .navbar-toggle {
  border-color: #313131;
}

.pager {
  background: #313131;
  border: none;
}

.help-link a {
  border: 1px solid #212121;
  border-radius: 4px;
  background: #212121;
  color: grey;
  text-shadow: none;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default #main_nav:not(.in) .navbar-nav>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-default .navbar-nav>li:hover>a {
  color: #C9447C;
  background-color: #212121;
  border-bottom: 1px solid #C9447C;
}

.navbar-default #main_nav.in .navbar-nav > li:hover, .navbar-default #main_nav.in .navbar-nav > li:hover > a, .navbar-default #main_nav.in .navbar-nav>li>a:focus {
    color: #e05189;
    background-color: #303030;
}

#main_nav.in .dropdown-submenu.open > a {
  color: #e05189;
  background-color: #303030;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #303030;
}

.navbar-default #main_nav.in .navbar-nav .open .dropdown-menu>li>a, .navbar-default #main_nav.in .navbar-nav .open .dropdown-menu>li>a:hover, #main_nav.in .dropdown-menu>li:not(.open)>a:hover {
    color: #e05189;
    background-color: #303030;
}

.navbar-default, .navbar-default .dropdown-menu, .navbar-default .navbar-nav>.open>a {
  background-color: rgba(33, 33, 33, 0.9);
  border-top: 1px solid rgb(33, 33, 33);
  border-bottom: 1px solid rgb(33, 33, 33);
}

.navbar .dropdown-menu li>a {
  color: grey;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .navbar-default #main_nav:not(.in) .navbar-nav>li:hover, #main_nav:not(.in) .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  color: #C9447C;
  background-color: transparent;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: grey;
  background-color: #212121;
  border: 1px solid #212121;
  border-bottom-color: #212121;
}

.nav-tabs {
  border-bottom: 1px solid #212121;
}

.nav-tabs>li>a:hover {
  border-color: #212121;
}

.nav>li>a:hover, .nav>li>a:focus {
  background-color: #313131;
}

li.category-cell {
  width: 160px;
  height: 130px;
  border: 10px solid transparent;
  background: #fff;
  margin: 5px 10px;
  box-shadow: 0 0 8px #d2d2d2;
  border-radius: 4px;
}

li.category-cell a {
  overflow: hidden;
}

.mini-products-list .product-image {
  border: 1px solid #212121;
  background: #fff;
  box-shadow: 0 0 8px #212121;
}

.pager .pages li {
  display: inline;
  margin: 0;
  padding: 4px;
  background: #313131;
  cursor: pointer;
  border: 1px solid #212121;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  z-index: 2;
  color: grey;
  background-color: #212121;
  border-color: #313131;
  cursor: default;
}

.pager .pages li.active, .pager .pages li:hover {
  background: #212121;
  border: none;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
  color: #e05189;
  border-color: #212121;
}

.hc-details {
  border: 1px solid #212121;
  -moz-box-shadow: 5px 5px 5px #212121;
  -webkit-box-shadow: 5px 5px 5px #212121;
  box-shadow: 5px 5px 5px #212121;
  display: none;
}

#shop_all, .btn-add-to-cart, .btn-oos-notify, .btn-continue-shopping, #emailSignupBtn, .btn-styled {
  background-color: #E91E63;
  color: #ffffff;
  text-shadow: 0 0 1px #fff;
  border-color: #212121;
  -webkit-box-shadow: 0 0 4px #212121;
  box-shadow: 0 0 4px #212121;
      border-radius: 4px;
}

input.range {
  border: 1px solid #212121;
  background: #212121;
}

.change-range {
  margin-left: 6px;
  border: 1px solid #212121;
  background-color: #313131;
  border-radius: 4px;
  padding: 4px 8px;
}

.progress {
  background-color: #212121;
  -webkit-box-shadow: 0 0 2px rgb(33, 33, 33);
  box-shadow: 0 0 2px rgb(33, 33, 33);
}

.review-stars i, #review_counts_container .progress-bar {
  color: #e8ff00;
  font-size: 16px;
}

.slick-initialized .slick-slide {
  background: #fff;
}

.box-up-sell, #reviews_container {
  border-top: 1px solid #212121;
}

.yotpo .yotpo-default-button, .yotpo input[type="button"].yotpo-default-button {
  background: #6A6C77;
  color: #212121;
}

.help-link a:hover, .help-link a:focus {
  border: 1px solid #212121;
  background: #313131 !important;
  color: #212121;
}

.toTop {
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.59);
  box-shadow: 0 0 6px black;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  font-size: 30px;
  line-height: 1.4;
  text-align: center;
  cursor: pointer;
  z-index: 9999;
}

.toTop:hover {
  box-shadow: 0 0 10px black;
}

.header .header-cart .opening-panel {
  background: rgba(49, 49, 49, 0.9);
}

.group-select-box, .product-options .product-option {
  border: 1px solid #212121;
}

.product-options .product-option.active:not(.color-option) {
  border-color: #E91E63;
  border-width: 1px;
}

.logo-img {
  position: fixed;
  z-index: 0;
  right: 0;
}

.logo-img img {
  width: 100%
}

.top_banner {
  display: inline-flex;
  margin-top: 10px;
}

#search_mini_form {
  float: right;
  margin-top: 20px;
}

@media only screen and (min-width: 780px) {
  .tm_headerlinkmenu {
    float: right !important;
  }
}

.footer_custom {
  text-align: center;
}

#footer {
  display: inline-block;
  border-style: none;
  float: right;
  width: 50%;
  text-align: right;
}

.footer_bottom_inner {
  width: 50% !important;
  display: inline-block;
}

.footer_bottom_inner ul.links {
  float: left !important;
}

.newsletter {
  background: #212121;
  border-radius: 4px;
  padding: 30px 0 50px 0;
  text-align: center;

}

.newsletterTitle {}

.newsletterSub {}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

#footer_email{
  width: 100%;
    border: 1px solid #303030;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 4px;
}


#recentitems{
margin: 10px 0;
}

.recentitem .media-left{
  background: #fff;
      vertical-align: middle;
      width: 100px;
      min-width: 100px;
      max-width: 100px;
}


.recentitem .media-body{
padding-left: 10px;
}


.recentitem .media-left a img{
      margin: 0 auto;
}
